@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom input styles */
@layer base {
  input[type="text"] {
    caret-color: black;
    cursor: text;
  }

  input[type="text"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}